/*
 * Do not remove the @namespace line -- it's required for correct functioning
 */
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); /* set default namespace to XUL */

/*
 * Hide tab bar, navigation bar and scrollbars
 * !important may be added to force override, but not necessary
 * #content is not necessary to hide scroll bars
 */
#TabsToolbar {visibility: collapse;}
/* #navigator-toolbox {visibility: collapse;} */
/* browser {margin-right: -14px; margin-bottom: -14px;} */


#browser-bottombox { height: 20px; border-top: solid 1px #505050; }
#statuspanel { width: 100% !important; left: 0px !important; bottom: 0px !important; padding: 0px !important; transition-duration: 0s !important; transition-delay: 0s !important; transition-property: none !important; }
#statuspanel-label { top: 0px !important; margin-left: 0px !important; margin-top: 0px !important; border: none !important; padding: 0px !important; }

window[inFullscreen="true"] #browser-bottombox { display:none !important; }
window[inFullscreen="true"] #statuspanel { display:none !important; }

/* #navigator-toolbox { */
/*     /\* Move navbar to bottom *\/ */
/*     display: contents !important; */
/* } */

#nav-bar {
    /* Move navbar to bottom */
    -moz-box-ordinal-group: 2 !important;
      
    max-height: var(--nav-min-height) !important;
}

@-moz-document url-prefix("about:reader")
{
    body.sans-serif {
        font-family: sans-serif !important;
    }
    
    body.serif {
        font-family: serif !important;
    }
}

/**
 * @name Dim Unloaded Tabs
 * @author Niklas Gollenstede
 * @licence CC-BY-SA-4.0 or MIT or MPL 2.0
 * @description
 *     This style dims not loaded tabs in Firefox.
 *     It is complementary to the UnloadTabs WebExtension and can either:
 *     * be manually added to the `chrome/user.chrome.css` file in Firefox's profile directory
 *     * or installed with the reStyle Firefox extension (and NativeExt).
 *
 *     If you have any issues with this style, please open a ticket at https://github.com/NiklasGollenstede/unload-tabs
 */

@-moz-document
    url(chrome://browser/content/browser.xhtml),
    url(chrome://browser/content/browser.xul)
{
    tab[pending], #alltabs-popup menuitem[pending]
    {
        opacity: 0.6 !important;
    }
}
